@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Roboto:wght@700&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@700&family=Space+Mono&display=swap");

body {
  margin: 0;
  
}

.topnav {
  width: 375px;
  height: 92px;
  display: flex;
  flex-direction: column;
  background-color: #3c3a39;
  color: #fff;
}

.app-bar1 {
  width: 375px;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.time {
 margin-top: 0.9em;
 margin-left: 1.5em;
}
.subnav {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-right: 0.5em;
}

.app-bar2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.3em;
}
.ham {
  background-image:url(./desktop-version/pngfiles/menu.png);
  width: 18px;
  height: 12px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 2.3em;
  margin-top: 0.4em;
}

.logoname {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  padding-left: 1em;
}

.app-main {
  width: 375px;
  background: #1c1a19;
  position: relative;
}

.whoiam1{
  display: none;
}

.headline-- {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1em;
  padding-top: 3em;
}

.Groupimg {
  background-image: url(./pngfiles/bkgrn.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 40%;
  bottom: 0;
  left: 50%;
  right: 30%;
  width: 50%;
  height: 70%;
}

.headline--1 > .heading1 {
  font-size: 56px;
  font-weight: 400;
  width: 323px;
  height: 85px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  letter-spacing: 0.37px;
  line-height: 64px;
  
}

.headline--2 > h4 {
  width: 323px;
  line-height: 5px;
  font-style: normal;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  
}

.headline--3 > p {
  width: 323px;
  height: 115px;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  color: #fff;
  font-family: 'Poppins';
  
}

.headline--4{
  margin-bottom: 7em;
  display: flex;
  flex-direction: row;
  gap: 1em;  
}

li {
  list-style: none;
}

.Myworks{
  width: 375px;
  padding-top: 3em;
}
.grid-container {
  display: grid;
  align-items: center;
  gap: 0.5em;
  padding-bottom: 6em;
}

.title > h2 {
  font-size: 40px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  width: 315px;
  color: #1c1a19;
  line-height: 20px;
}

.line-tit {
  width: 300px;
  height: 0;
  border: 1px solid #212121;
}

.logo-main {
  width: 327px;
  height: 230px;
  position: relative;
  background-image: url(./desktop-version/pngfiles/Img\ Placeholder.png);
  background-repeat: no-repeat;
  margin: 1em;
}

.posts {
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.title1{
  width: 327px;
  height: 36px;
  margin-bottom: 2.5em;
}

.title1 > h3 {
  font-size: 35px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 42px;
  align-items: center;
  color: #091e42;
}

.para {
  width: 327px;
  height: 147px;
}
.para > p{
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 22px;
  align-items: center;
  color: #091e42;
  order: 1;
}

.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px;
  padding-left: 30px;
  order: 3;
}

.lang1,
.lang2,
.lang3,
.lang4 {
  border: 1.5px solid #8993a4;
  text-align: center;
  padding-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: #fff;
}

.lang1 {
  width: 49px;
  height: 40px;
}

.lang2 {
  float: right;
  width: 56px;
  height: 40px;
}

.lang3 {
  width: 95px;
  height: 40px;
}

.lang4 {
  width: 61px;
  height: 40px;
}

button {
  margin-left: 27px;
  order: 3;
  text-align: center;
  width: 127px;
  height: 48px;
  letter-spacing: 0.03em;
  color: #1c1a19;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  background: #ff6b00;
  border-style: hidden;
  
}

.click {
  width: 325px;
  height: 48px;
  position: absolute;
  bottom: 0;
  margin-left: 0;
}

button:hover {
  background: #f7e2cb;
  color: #ff6b00;
}

button:focus {
  background: #ff6b00;
  color: #fff;
  border-style: hidden;
}

.project-1 {
  width: 325px;
  height: 375px;
  margin: 12px;
  background-color: linear-gradient(rgba(38, 38, 38, 0) 0.75%);
  background-image: url(./pngfiles/Img\ Placehold.png);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid;
  
}

.project-2,
.project-3,
.project-4 {
  width: 325px;
  height: 375px;
  margin: 12px;
  background-color: linear-gradient(rgba(38, 38, 38, 0) 0.75%);
  background-image: url(./pngfiles/Img\ Placehold.png);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
 
}

.subtitl {
  width: 290px;
  height: 79px;
  line-height: 44px;
  margin: 0.5em;
}

.subtitl > h2 {
  font-size: 33px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #fff;
  font-style: normal;
}

.sub2 {
  width: 285px;
  height: 85px;
  padding-left: 13px;
  padding-top: 5px;
  margin: 0.5em;
}

.sub2 > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.lang1-pro,
.lang2-pro,
.lang3-pro {
  text-align: center;
  padding-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.lang1-pro {
  width: 49px;
  height: 40px;
  
}

.lang2-pro {
  width: 56px;
  height: 40px;
  
}

.lang3-pro {
  width: 95px;
  height: 40px;
  
}

.lang-pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  gap: 10px;
  
}

.aboutme {
  background: #1c1a19;
  color: #fff;
  position: relative;
  padding-top: 20px;
  padding-bottom: 5rem;
  width: 375px;
}

.aboutme-- {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.illust {
  background: url(./pngfiles/Groupe.png);
  background-repeat: no-repeat;
  position: absolute;
  top: 20%;
  right: -7%;
  bottom: 10%;
  left: 56.2%;
  size: 90px;
}

.aboutme--h {
  width: 325px;
  height: 79px;
  line-height: 88px;
  align-self: center;
}

.aboutme--h > h2 {
  font-size: 72px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #ff6b00;
  font-style: normal;
}

.aboutme--1 {
  width: 325px;
  height: 148px;
  line-height: 24px;
  align-self: center;
}

.aboutme--1 > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
}

.aboutmebtn {
  width: 140px;
  height: 40px;
  margin-bottom: 20px;
  position: relative;
  padding: 0.2em;
}

.aboutmeline {
  width: 300px;
  margin-top: 13rem;
  padding-left: 12px;
}

.aboutmeline > hr {
  border: 1px solid #fff;
  margin-left: 1rem;
}

.toplang > ul,
.framework > ul,
.skills > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 43px;
}

.toplang {
  margin-top: 5rem;
}

.langimg {
  margin-left: 6px;
}

.contact-feature {
  position: relative;
  width: 375px;
}

.hobby {
  width: 325px;
  height: 216px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  color: #172b4d;
  margin-top: 20px;
}

form {
  margin-top: 3em;
}

input {
  border: none;
  text-align: left;
  margin: 0.5em;
  width: 300px;
  padding-left: 1em;
}

textarea {
  background: #fbf8f7;
  width: 290px;
  height: 90px;
  margin: 1em;
  padding: 1em;
}

.footerline1 {
  width: 299px;
  margin-left: 12px;
  margin-right: 12px;
}

.footerline2 {
  width: 300px;
  margin-left: 12px;
  margin-right: 12px;
}

.touch {
  margin-left: 7em;
  color: #fff;
  background: #ff6b00;
}

.footerline {
  height: 0;
  left: 0;
  right: 0;
  width: 375px;
  margin-top: 5em;
}

.contact-links > ul {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: baseline;
  margin-left: 2.5em;
  
}

.last-line {
  margin-bottom: 3em;
}

.last-line > hr {
  width: 100px;
  height: 1px;
  position: absolute;
  left: 7em;
  background: #1c1a19;
  border: solid;
  border-radius: 3px;
}

.logo {
  display: none;
}

.container {
  display: none;
}

.whoiam {
  display: none;
}

.Contact-f1 {
  display: none;
}

@media screen and (min-width: 780px) {
  

  .topnav {
    background: #3c3a39;
    width: 100%;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: baseline;
  }

  .logo > h1 {
    width: 72px;
    font-size: 20px;
    color: #fff;
    padding-left: 1em;
  }

  .navbar > ul {
    display: flex;
    flex-direction: row;
    gap: 4em;
    margin-right: 6em;
    justify-items: baseline;
    color: #fff;
  }

  .app-bar1,
  .app-bar2 {
    display: none;
  }

  .headline-- {
    width: 100%;
    position: relative;
  }

  .Groupimg {
    display: none;
  }

  .headline--1 {
    height: 160px;
    width: 566px;
    color: #ff6b00;
    font-family: "Crete Round", serif;
    letter-spacing: 0.37px;
    line-height: 43px;
    margin-left: 15%;
    font-size: 30px;
    font-weight: 700;
  }

  .headline--2 > {
    width: 323px;
    font-style: normal;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }

  .headline--2 > .heading2 {
    left: 8em;
    font-size: 24px;
    position: absolute;
    top: 10em;
  }

  .headline--3 {
    height: 123px;
    width: 352px;
    left: 0;
    top: 424px;
    font-style: normal;
    line-height: 23px;
    color: #fff;
    margin-left: 13.5%;
    margin-top: 0;
  }

  .headline--3 > p {
    font-size: 15px;
  }

  .headline--4 {
    position: absolute;
    top: 46%;
  }

  .headline--4 > ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  li {
    list-style: none;
  }

  .whoiam1 {
    position: absolute;
    left: 59.8%;
    top: 6em;
    bottom: 20%;
    transform: matrix(0.96, 0.27, 0.27, 0, 0);
    background-image: url(/pngfiles/Illustration-header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: inherit;
    height: 500px;
    width: 500px;
  }

  .app-main {
    width: 100%;
  }

  .Myworks {
    position: relative;
  }

  .grid-container {
    margin-top: 5em;
  }

  .title > h2 {
    width: 500px;
    color: #1c1a19;
    line-height: 20px;
    font-size: 40px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    margin-top: 0;
  }

  .line-tit {
    width: 600px;
    position: absolute;
    bottom: 17px;
    left: 43%;
    height: 0;
    top: 6px;
  }

  .grid-container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .logo-main {
    width: 600px;
    height: 400px;
    background-size: cover;
    margin-bottom: 4em;
    position: relative;
    background-image: url(/desktop-version/pngfiles/Img\ Placeholder.png);
    background-repeat: no-repeat;
  }

  .posts {
    width: 600px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
    margin-top: 0;
  }

  .title1 > h3 {
    font-size: 35px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    line-height: 42px;
    align-items: center;
    color: #091e42;
    margin-left: 1em;
    padding-top: 0;
  }

  .para {
    margin-left: 2em;
    width: 441px;
  }

  .para > p {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    line-height: 28px;
    align-items: center;
    color: #091e42;
    order: 1;
    height: 140px;
    width: 448px;
  }

  .project-2,
  .project-3,
  .project-4 {
    display: none;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1em;
    padding-left: 1em;
    position: relative;
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5,
  .project6 {
    height: 435px;
    width: 369px;
  }

  .project1 {
    background-image: url(/desktop-version/pngfiles/Mask\ Group.png);
  }

  .project2,
  .project5 {
    background-image: url(/desktop-version/pngfiles/Mask\ Groupp.png);
  }

  .project3,
  .project6 {
    background-image: url(/desktop-version/pngfiles/Mask\ Grou.png);
  }

  .project4 {
    background-image: url(/desktop-version/pngfiles/Img\ Placeholde.png);
  }

  .click {
    width: 370px;
    height: 48px;
    position: absolute;
    bottom: 0;
    margin-left: 0;
  }

  .click1 {
    width: 370px;
    height: 48px;
    position: absolute;
    top: 43.5%;
    margin-left: 0;
  }

  .lang-pro {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 14px;
    gap: 10px;
    margin-top: 60%;
  }

  .lang1-pro,
  .lang2-pro,
  .lang3-pro {
    text-align: center;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    background: rgba(255, 255, 255, 0.24);
    color: #fff;
    padding-top: 1em;
  }

  .lang1-pro {
    width: 56px;
    height: 40px;
  }

  .lang3-pro {
    width: 95px;
    height: 40px;
  }

  .lang2-pro {
    width: 61px;
    height: 40px;
  }

  .subtitl1 {
    width: 337px;
    height: 81px;
    line-height: 44px;
    padding: 13px;
  }

  .subtitl1 > h2 {
    font-size: 32px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    color: #fff;
    font-style: normal;
    padding-top: 2em;
  }

  .paragraph1 {
    width: 337px;
    height: 72px;
    padding-left: 13px;
    padding-top: 2.5em;
  }

  .paragraph1 > p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    padding-top: 2em;
  }

  button {
    margin-left: 27px;
    order: 3;
    text-align: center;
    width: 127px;
    height: 48px;
    letter-spacing: 0.03em;
    color: #1c1a19;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 700;
    background: #dbd8d7;
    border-style: hidden;
  }

  button:hover {
    background: #f7e2cb;
    color: #ff6b00;
  }

  button:focus {
    background: #ff6b00;
    color: #fff;
    border-style: hidden;
  }

  .aboutme {
    background: #262626;
    width: 100%;
    height: 1195px;
    margin-top: 5em;
  }

  .aboutme-- {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: 60.5%;
  }

  .illust {
    display: none;
  }

  .aboutmebtn {
    width: 155px;
    height: 40px;
    margin-top: 0;
    margin-left: 5em;
  }

  .aboutmeline {
    width: 100%;
    margin-top: 10rem;
    padding-left: 1rem;
    padding-right: 2rem;
  }

  .imgbakgrd {
    width: 600px;
    height: 400px;
    position: absolute;
    left: 51.9%;
    transform: matrix(0.96, 0.27, 0.27, 0, 0);
    top: 17%;
    background-image: url(/desktop-version/pngfiles/illustration-about\ me@2x.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .aboutme--h > h2 {
    font-size: 72px;
    font-family: "Crete Round", serif;
    font-weight: 400;
    color: #ff6b00;
    font-style: normal;
    width: 500px;
    line-height: 80px;
    padding-top: 0;
  }

  .aboutme--1 > p {
    width: 556px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #f4f5f7;
    padding-bottom: 6em;
  }

  .container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 8em;
    align-items: baseline;
  }

  .container2 > ul {
    list-style: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 22px;
    line-height: 43px;
  }

  .hobby {
    width: 500px;
    height: 126px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    margin-left: 12px;
    margin-right: 12px;
    color: #172b4d;
    margin-top: 20px;
  }

  .Contact-f1 {
    display: flex;
    flex-direction: column;
    float: right;
    width: 500px;
    position: relative;
    background: #fff;
    margin: 3em;
  }

  input {
    border: none;
    text-align: left;
    margin: 0.1em;
    width: 200px;
    padding-left: 1em;
  }

  .lastn {
    float: right;
    position: absolute;
    top: 1px;
    right: 5px;
  }

  .firstn {
    float: left;
    top: 0;
    position: absolute;
  }

  .Contact-f {
    display: none;
  }

  textarea {
    background: #fbf8f7;
    width: 290px;
    height: 90px;
    margin: 1em;
    padding: 1em;
  }

  .footerline1 {
    width: 233px;
    margin: 0 12px 12px;
    left: 50%;
    position: absolute;
    top: 2em;
  }

  .footerline11 {
    width: 219px;
    margin-left: 10px;
    position: absolute;
    top: 1.5em;
    left: 1%;
    margin-right: 1em;
  }

  .footerline2 {
    width: 481px;
  }

  .touch {
    position: absolute;
    color: #fff;
    background: #ff6b00;
    left: -6.35em;
    bottom: -2.5em;
  }

  .footerline {
    height: 1px;
    left: 0;
    right: 0;
    width: 100%;
    margin-top: 6em;
  }

  .contact-links > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 17px;
    position: absolute;
    left: 40%;
    padding-top: 2em;
    padding-bottom: 0;
  }

  .last-line {
    display: none;
  }

  footer {
    margin-top: 0;
    margin-bottom: 5px;
  }

  .contactdiv {
    display: flex;
    flex-direction: row;
  }
}
