/***STYLING OF THE SETUP PORTFOLIO****/
 @import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Space+Mono&display=swap');
*{
  margin: 0;
  box-sizing: content-box;
  padding: 0;
}
 .main{
  background: #1C1A19;

}
.top-nav{

  background-image: url(pngfiles/Rectangle\ 44.png);
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 5px;
}
.nav-items{
  display: flex;
  flex-direction: row;
  justify-content: flex-end; 
  color: white;
}
.nav{
  width: 5rem;
}
.logo{
  width: 10rem;
  color: white;
  
}
      /*****************HEADLINE SECTION STYLE**********************/
.headline{
  background: #1C1A19;
}
.headline-1{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 7rem;
}
.whoiam{
  display: flex;
  flex-direction: column;
  align-content: center;
  left: 143px;
  top: 72px;
  line-height: 22px;
  gap: 15px;
  padding: 30px 0px;
  justify-content: center;

}
.name{
  padding: 0px;
  margin: 5px;
  color: #F55800;
  font-size: 72px;
  line-height: 60px;
  font-family: 'Crete Round';
}
.profession{
  font-size: 32px;
  color: white;
  margin: 5px;
  font-family: 'Inter';
}
.whaticando{
  order: 2;
  font-size: 20px;
  color: white;
  margin: 5px;
  font-family: 'Inter';
}
.contacts{
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;  
}
.illustration{
 flex: 1;
}
.image{
  width: 100%;
}
.heading{
  font-size: 72px;

}

