@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Poppins&family=Roboto:wght@700&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&family=Roboto:wght@700&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;700&family=Poppins&family=Roboto:wght@700&family=Space+Mono&display=swap");

body{
  
  margin: 0;
  padding: 0;
}
.top-nav {
  background: #3e3c3c;
  height: 72px;
  width: 100%;

}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: baseline;
} 

.logo > h1 {
  width: 72px;
  padding-top: 14px;
  font-size: 20px;
  color: #fff;
  padding-left: 1em;
}
.logo > .navbar > ul{
  display: flex;
  flex-direction: row;
  gap: 4em;
  margin-right: 6em;
  justify-items: baseline;
  
}
.presentation {
  background: #1c1a19;
  position: relative;
}

.information {
  display: flex;
  flex-direction: row;
  gap: 5em;
  position: absolute;
  right: 43%;
  top: 20%;
} 
.whoiam {
  height: 870px;
  width: 1440px;
  position: relative;
  
}
.whoiam > img {
  position: absolute;
  left: 41.75%;
  size: 100%;
  top: 0;
  bottom: 30%;
  transform: matrix(0.96, 0.27, 0.27,  0, 0);
}


.Groupimg {
  position: absolute;
  top: 50%;
  right: -6%;
  bottom: 12%;
  left: 63%;
}

.heading-1 {
  height: 160px;
  width: 566px;
  left: 0px;
  top: 80%;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  letter-spacing: 0.37px;
  line-height: 43px;
}

.heading-1 {
  font-size: 30px;
  font-weight: 400;
}

.headline-2 > h4{
  width: 323px;
  height: 35px;
  line-height: 5px;
  font-style: normal;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

.heading2 {
  font-size: 24px;
}

.headline-3 > p{
  height: 123px;
  width: 566px;
  left: 0px;
  top: 424px;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;
  color: #fff;
}

.headline-4 > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 6em;
}

li {
  list-style: none;
}

.Recent-works{
  position: relative;
  margin-top: 5em;
}


.Recent-works > h1 {
  margin-left: 2em;
  color: #1c1a19;
	line-height: 20px;
  font-size: 40px;
  font-family: "Crete Round", serif;
  font-weight: 400;
}

.line1 {
  width: 784px;
  position: absolute;
  bottom: 17px;
  left: 34%;
  height: 0;
  top: 6px;
}


.intro {
  width: 1156px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5em;
  
}
.logo-main {
  width: 684px;
  background-image: url(/desktop-version/pngfiles/Img\ Placeholder.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0.5em;
  
}
.story {
  width: 684px;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
  
}

.subtitl > h2 {
  font-size: 35px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 42px;
  align-items: center;
  color: #091e42;
  margin-left: 1em;
  
}
.title1 > .subtitl >h2 {
  font-size: 35px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 42px;
  align-items: center;
  color: #091e42;
  
}

.paragraph {
  margin-left: 2em;
  width: 441px;
  
}

.paragraph > p{
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  align-items: center;
  color: #091e42;
  order: 1;
  height: 140px;
  width: 448px;
}


.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px;
  padding-left: 30px;
  order: 3;
}

.lang1,
.lang2,
.lang3,
.lang4 {
  border: 1.5px solid #8993a4;
  text-align: center;
  padding-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: #fff;
}

.lang1 {
  width: 49px;
  height: 40px;
}

.lang2 {
  float: right;
  width: 56px;
  height: 40px;
}

.lang3 {
  width: 95px;
  height: 40px;
}

.lang4 {
  width: 61px;
  height: 40px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(2,1fr);
  gap: 1em;
  padding-left: 1em;
  position: relative;
}

.click {
  width: 370px;
  height: 48px;
  position: absolute;
  bottom: 0;
  margin-left: 0;
}
.click1 {
  width: 370px;
  height: 48px;
  position: absolute;
  top: 43.5%;
  margin-left: 0;
}

.project1, 
.project2,
.project3,
.project4,
.project5,
.project6 {
  height: 435px;
  width: 369px;
}


.project1 {
  background-image: url(/desktop-version/pngfiles/Mask\ Group.png);
}
.project2 , .project5 {
  background-image: url(/desktop-version/pngfiles/Mask\ Group\ \(1\).png);
}
.project3 , .project6 {
  background-image: url(/desktop-version/pngfiles/Mask\ Group\ \(2\).png);
}
.project4 {
  background-image: url(/desktop-version/pngfiles/Img\ Placeholder\ \(1\).png);
}

.lang-pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  gap: 10px;
  margin-top: 8.5em;
  
}
.lang1-pro,
.lang2-pro,
.lang3-pro {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding-top: 1em;
}

.lang1-pro {
  width: 56px;
  height: 40px;
  
}

.lang3-pro {
  width: 95px;
  height: 40px;
  
}

.lang2-pro {
  width: 61px;
  height: 40px;
}

.subtitl1 {
  width: 337px;
  height: 81px;
  line-height: 44px;
  padding: 13px;
}

.subtitl1 > h2 {
  font-size: 32px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  padding-top: 2em;
}

.paragraph1 {
  width: 337px;
  height: 72px;
  padding-left: 13px;
  padding-top: 2.5em;
  
}

.paragraph1 > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
 line-height: 24px;
  color: #fff;
  padding-top: 2em;
}

.about-me {
  background: #262626;
  width: 100%;
  height: 1195px;
  position: relative;
  margin-top: 5em;
}

.abtme-contain {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
}

.abtme-img > img {
  position: absolute;
  left: 60.4%;
  size: 100%;
  bottom: 0.1%;
  transform: matrix(0.96, 0.27, 0.27,  0, 0);
  height: 352px;
  width: 500px;
  top: 5em;
  
}

.abtme-h {
  font-size: 72px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #ff6b00;
  font-style: normal;
  width: 566px;
  line-height: 80px;
  padding-top: 0;
}
.abtmep {
  width: 566px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #f4f5f7;
  margin-top: 0;
  padding-bottom: 6em;
}
.abtme-btn {
  width: 155px;
  height: 40px;
  margin-left: 1rem;
  margin-bottom: 20px;
  position: relative;
  margin-top: 0;
}
.abtme-L > hr  {
  background: #761212 solid;
  height: 0;
  width: 1156px;
  border: 1px solid #fff;
  margin-top: 10em;
}

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 3em ;

}

 ul {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 400;
 font-size: 22px;
 line-height: 43px;
}

.hobby {
  width: 455px;
  height: 256px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  color: #172b4d;
  margin-top: 20px;
  float: left;
}
.contact-form {
  background: #fff;
  
}

.Contact-f {
  float: right;
  margin: 3em;
  width: 500px;
  position: relative;
}

input {
  border: none;
  text-align: left;
  margin: 0.5em;
  width: 200px;
  padding-left: 1em;
}
 .lastn {
  float: right;
  position: absolute;
  top: 1px;
  right: 5px;
  
}
.firstn {
  float: left;
  top: 1px;
  
}

textarea {
  background: #fbf8f7;
  width: 290px;
  height: 90px;
  margin: 1em;
  padding: 1em;
}

.footerline1 {
  width: 233px;
  margin: 0 12px 12px;
  left: 50%;
  position: absolute;
  top: 2em;
}

.footerline11 {
  width: 219px;
  margin-left: 10px;
  position: absolute;
  top: 1.5em;
  left: 1%;
  margin-right: 1em;
  
  
}
.footerline2 {
  width: 481px;
  margin: 0 12px 12px;
}


.Contact-f {
  display: flex;
  flex-direction: column;
  
}

.touch {
  color: #fff;
  background: #ff6b00;
}

.footerline {
  height: 1px;
  left: 0;
  right: 0;
  width: 100%;
  margin-top: 6em;
}

.contact-links > ul {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 17px;
  position: absolute;
  left: 40%;
  margin-bottom: 3em;
  padding-bottom: 1.2em;
}

button {
  margin-left: 27px;
  order: 3;
  text-align: center;
  width: 127px;
  height: 48px;
  letter-spacing: 0.03em;
  color: #1c1a19;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 700;
  background: #dbd8d7;
  border-style: hidden;
}

button:hover {
  background: #f7e2cb;
  color: #ff6b00;
}

button:focus {
  background: #ff6b00;
  color: #fff;
  border-style: hidden;
}

@media  (max-width:380px){
  .top-nav {
  background: #b83f3f;
  height: 72px;
  
}
  .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: baseline;
} 
.logo > h1 {
  width: 50px;
  padding-top: 14px;
  font-size: 16px;
  color: #fff;
  
}
  .logo > .navbar > ul{
  display: none;
}
.menu {
  margin-top: 1.7em;

}
.presentation {
  background: #1c1a19;
  position: relative;
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  left: 5%;
  top: 0;
  margin: 1em;
}

.whoiam1 > img {
  position: absolute;
  top: 35em;
  bottom: 0;
  left: 64.9%;
  
}

.heading-1 {
  width: 323px;
  height: 85px;
  color: #ff6b00;
  font-family: "Crete Round", serif;
  letter-spacing: 0.37px;
  line-height: 43px;
  padding-top: 5em;
}

.heading-1 {
  font-size: 30px;
  font-weight: 400;
}

.headline-2 {
  width: 123px;
  height: 30px;
  line-height: 5px;
  font-style: normal;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  padding-top: 2em;
}


.headline-3 >p{
  height: 115px;
  width: 355px;
  font-size: 13px;
  font-style: normal;
  color: #fff;
  line-height: 2em;
  padding-top: 2em;
  
}
.headline-4 {
  position: absolute;
  top: 90%;
}

.headline-4 > ul {
  margin-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 3em;
}

li {
  list-style: none;
}

.Recent-works{
  position: relative;
  margin-top: 3em;
  
}

.Recent-works > h1 {
  color: #1c1a19;
	line-height: 20px;
  font-size: 38px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  width: 300px;
  margin-right: 1em;
  margin-left: 1em;
}

.line1 {
  width: 300px;
  left: 11%;
  height: 0;
  top: 3%;
  border: 1px solid #212121;
  bottom: 9%;
  
}

.intro {
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  padding-right: 1.5rem;
  
}

.logo-main {
  width: 337px;
  height: 230px;
  background: url(/desktop-version/pngfiles/Img\ Placeholder.png);
  margin: 0.5em;
  
}
.story {
  width: 337px;
  display: flex;
  flex-direction: column;
  padding-bottom: 4em;
  
}
.subtitl > h2 {
  font-size: 35px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 42px;
  align-items: center;
  color: #091e42;
  margin-left: 1em;
  
}
.title1 > .subtitl >h2 {
  font-size: 35px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 42px;
  align-items: center;
  color: #091e42;
  
}

.paragraph {
  margin-left: 1em;
  width: 300px;
  
}

.paragraph > p{
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  align-items: center;
  color: #091e42;
  order: 1;
  height: 140px;
  width: 335px;
}
.lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 12px;
  padding-left: 30px;
  order: 3;
}

.lang1,
.lang2,
.lang3,
.lang4 {
  border: 1.5px solid #8993a4;
  text-align: center;
  padding-top: 8px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: #fff;
}

.lang1 {
  width: 49px;
  height: 40px;
}

.lang2 {
  float: right;
  width: 56px;
  height: 40px;
}

.lang3 {
  width: 95px;
  height: 40px;
}

.lang4 {
  width: 61px;
  height: 40px;
}


.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr,1fr,1fr,1fr,1fr,1fr;
  position: relative;
}

.project1, 
.project2,
.project3,
.project4,
.project5,
.project6 {
  width: 320px;
  height: 420px;
  padding-bottom: 1em;
}
.project1 {
  background-image: url(/desktop-version/pngfiles/Mask\ Group.png);
  position: relative;
}
.project2 , .project5 {
  background-image: url(/desktop-version/pngfiles/Mask\ Group\ \(1\).png);
}
.project3 , .project6 {
  background-image: url(/desktop-version/pngfiles/Mask\ Group\ \(2\).png);
}
.project4 {
  background-image: url(/desktop-version/pngfiles/Img\ Placeholder\ \(1\).png);
}


.click {
  width: 320px;
  height: 48px;
  position: absolute;
  bottom: 0;
  margin-left: 0;
}
.click1 {
  width: 320px;
  height: 48px;
  position: absolute;
  top: 90%;
  margin-left: 0;
  bottom: 0;
}
.lang-pro {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 14px;
  gap: 10px;
  
}
.lang1-pro,
.lang2-pro,
.lang3-pro {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
  padding-top: 1em;
  height: 30px;
}

.lang1-pro {
  width: 49px;
  
  
}

.lang3-pro {
  width: 95px;
  
  
}

.lang2-pro {
  width: 56px;
  
}

.subtitl1 {
  width: 290px;
  height: 79px;
  line-height: 44px;
  padding: 13px;
}

.subtitl1 > h2 {
  font-size: 33px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #fff;
  font-style: normal;
  padding-top: 2em;
}

.paragraph1 {
  width: 285px;
  height: 85px;
  padding-left: 13px;
  padding-top: 2.5em;
  
}

.about-me {
  background: #262626;
  position: relative;
  padding-bottom: 5em;
}

.abtme-contain {
  display: flex;
  flex-direction: column;
  gap: 3em;
  margin-left: 1em;
  margin-top: 2em;

}
.abtme-img > img {
  position: absolute;
  left: 41.5%;
  size: 100%;
  bottom: 0.1%;
  transform: matrix(0.96, 0.27, 0.27,  0, 0);
  width: 220px;
  height: 200px;
  top: 39%;
  bottom: 0;
  
}
.abtme-h  {
  width: 325px;
  height: 79px;
  line-height: 80px;
  align-self: center;
}
.abtme-h > h1 {
  font-size: 72px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  color: #ff6b00;
  font-style: normal;  
}
.abtmep {
  width: 325px;
  height: 148px;
  line-height: 22px;
  align-self: center;
}
.abtmep > p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #f4f5f7;
  margin-top: 3rem;
}

.abtme-btn { 
  margin-left: 1rem;

}
.btn {
  width: 154px;
  height: 40px;
  margin-bottom: 4em;
}

.abtme-L > hr {
  height: 0;
  width: 300px;
  border: 1px solid #fff;
}

.container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr,1fr,1fr;
  text-align: center;
  row-gap: 5px;
  margin-top: 0;
}

ul {
  list-style: none;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-top: 0;
}

.hobby {
  width: 300px;
  height: 200px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  margin-left: 12px;
  margin-right: 12px;
  color: #172b4d;
  gap: 1em;
  float: left;
}
form {
  margin-top: 3em;
}

input {
  border: none;
  text-align: left;
  margin: 0.5em;
  width: 300px;
  padding-left: 1em;
}

textarea {
  background: #fbf8f7;
  width: 290px;
  height: 90px;
  margin: 1em;
  padding: 1em;
}

.footerline1 {
  width: 299px;
  margin-left: 12px;
  margin-right: 12px;
}

.footerline11 {
  width: 299px;
  margin-left: 12px;
  margin-right: 12px;
}

.footerline2 {
  width: 300px;
  margin-left: 12px;
  margin-right: 12px;
}

.touch {
  margin-left: 7em;
  color: #fff;
  background: #ff6b00;
}

.footerline {
  height: 1px;
  left: 0;
  right: 0;
  width: 361.65px;
  margin-top: 6em;
}


}